#### Load numpy

In [494]:
import numpy as np

#### The basics

#### One dimensional

In [495]:
a = np.array([1, 2, 3])
print(a)

[1 2 3]

#### Two dimensional

In [496]:
b = np.array([[1, 2, 3],[4, 5, 6]])
b

array([[1, 2, 3],
       [4, 5, 6]])

#### Get the dimensions of the array

In [497]:
b.ndim

2

#### Shape of the array

In [498]:
b.shape # will output (2, 3) which means it has 2 rows and then 3 columns

(2, 3)

In [499]:
a.dtype

dtype('int64')

#### So by default the size of an array is 8 byte or int32. This is something we can change while defining the array

In [500]:
a = np.array([1, 4, 6], dtype = 'int32')

In [501]:
a.dtype

dtype('int32')

In [502]:
new_array = np.array([[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12]])
new_array

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

#### Get specific value

In [503]:
new_array[1, 3]

10

#### Get a specific row

In [504]:
new_array[0, :] # getting the first row

array([1, 2, 3, 4, 5, 6])

#### Get a specific column

In [505]:
new_array[ : , 1]

array([2, 8])

#### Let's do some fun activity
1. Import random 
2. Generate 2 numbers
4. Now use that to define the shape of the array
5. Get the size of the array
6. Generate those many numbers
7. Fill the dimensions with those numbers

In [506]:
import random
no_of_rows = random.randint(1000, 5349) # at least 1000 rows and can be upto 5349 for now
no_of_columns = random.randint(5, 20) # at least 5 columns and can be upto 20 for now
random_array = np.zeros((no_of_rows, no_of_columns), dtype=int)
random_array.shape

(3364, 5)

In [507]:
for i in range(no_of_rows):
    for j in range(no_of_columns):
        random_array[i][j] = random.randint(0, 1001)

In [508]:
random_array

array([[822, 820, 350, 461,  85],
       [466, 264,  90, 564, 237],
       [290, 617, 376, 130, 214],
       ...,
       [315, 423, 668, 652, 918],
       [955, 659, 809, 888, 975],
       [525, 957, 323, 199,  36]])

##### Now get a specific row

In [509]:
random_array[12, :] # we can verify if this is right by checking the no of columns

array([338, 737, 811, 578, 286])

#### Get a specific column

In [510]:
if random_array.shape[1] >= 1:
    column_values = random_array[ : , random_array.shape[1] - 1] # getting the last column values
    print(f"It consists of {column_values.shape[0]} values")
    print(column_values)

It consists of 3364 values
[ 85 237 214 ... 918 975  36]

#### Getting a little fancy
#### [startindex : endindex : stepsize]

In [511]:
# here 2 is the start index for the row and then 10 is the endindex which might be not available and then 2 stepsize means every other element
random_array[0, 2:10:2]

array([350,  85])

#### Changing the value at a particular index

In [512]:
random_array[1, 1] = 5

In [513]:
random_array[1, 1]

5

In [514]:
three_d_array = np.array([[[1, 2], [3, 4]], [[4, 16], [64, 34]]])
three_d_array

array([[[ 1,  2],
        [ 3,  4]],

       [[ 4, 16],
        [64, 34]]])

#### Accessing a 3d-element. Let's say if we want to access 64, then

In [515]:
three_d_array[1, 1, 0] # second array second row and then first column

64

In [516]:
three_d_array

array([[[ 1,  2],
        [ 3,  4]],

       [[ 4, 16],
        [64, 34]]])

#### Replacing values

In [517]:
three_d_array[ : , 1, :] = [[1, 2], [4,5]]

In [518]:
three_d_array

array([[[ 1,  2],
        [ 1,  2]],

       [[ 4, 16],
        [ 4,  5]]])

#### Initializing Different Types of Arrays

#### Initialising a 3-d array with zeros

In [519]:
np.zeros((2, 3, 2)) # 3-dimension initialiased with zeros

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

#### Initialising a 4-d array with ones

In [520]:
np.ones((2, 3, 2, 2)) # 4 dimensional

array([[[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]],


       [[[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]],

        [[1., 1.],
         [1., 1.]]]])

##### We can initialise it with any other number as well just need to use the full() function

In [521]:
np.full((3, 2, 3), 99)

array([[[99, 99, 99],
        [99, 99, 99]],

       [[99, 99, 99],
        [99, 99, 99]],

       [[99, 99, 99],
        [99, 99, 99]]])

#### Filling array with random values

In [522]:
new_random_array = np.random.randint(1, 100, size= (2, 3, 2)) # Generating a 3-dimension array with random numbers
new_random_array

array([[[32, 97],
        [44, 32],
        [76, 24]],

       [[46, 84],
        [ 5, 20],
        [87, 97]]])

#### Repeating a certain set of elements

In [523]:
arr = np.array([1, 2, 3])
r1 = np.repeat(arr, 3, axis=0) # repeating the elements in the arr and 3 denotes the number of times we are repeating it
r1

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [524]:
arr = np.array([[1, 2, 3]]) # this being 2-dimensional array unlike the first one
r1 = np.repeat(arr, 3, axis=0)
r1

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

#### Identity Matrix

In [525]:
np.identity(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

#### We want to create a array like this below
#### [1 1 1 1 1
####  1 0 0 0 1
####  1 0 9 0 1
####  1 0 0 0 1
####  1 1 1 1 1 ]

In [526]:
##### Logical interpretation
##### Initialize a matrix with all ones
##### Create another matrix with all zeros minus one row and column size
##### Add 9 or the element in the middle
##### and then replace this newly created matrix with the inner side of original matrix

In [527]:
original_array = np.ones((5, 5))
original_array

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [528]:
middle_with_zeros = np.zeros((3, 3))
middle_with_zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [529]:
middle_with_zeros[1, 1] = 9
middle_with_zeros

array([[0., 0., 0.],
       [0., 9., 0.],
       [0., 0., 0.]])

In [530]:
original_array[1:-1, 1:-1] = middle_with_zeros
original_array

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 9., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

### NOTE : Please be careful while copying arrays

In [ ]:
a = np.array([1, 2, 3])
b = a # This will make b = a but also a = b and that's an issue
b[0] = 100
a # now a[0] will be set to 100

array([100,   2,   3])

#### Using copy function to avoid the above issue

In [539]:
a = np.array([1, 2, 3])
b = a.copy()
b[0] = 100
print(f'a is {a}')
print(f'b is {b}')

a is [1 2 3]
b is [100   2   3]

### Mathematics

In [ ]:
a = np.array([1, 2 ,3 ,4])

array([3, 4, 5, 6])

In [543]:
a + 2

array([3, 4, 5, 6])

In [541]:
a - 2

array([-1,  0,  1,  2])

In [542]:
a  * 2

array([2, 4, 6, 8])

In [544]:
a / 2

array([0.5, 1. , 1.5, 2. ])

In [548]:
b = np.array([2, 4, 2, 4])
b

array([2, 4, 2, 4])

In [549]:
a + b

array([3, 6, 5, 8])

In [553]:
# Take trignometric values of the numbers\
print(np.sin(a))
print(np.cos(a))

[ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
[ 0.54030231 -0.41614684 -0.9899925  -0.65364362]

##### Linear Algebra

In [554]:
a = np.ones((2, 3))
b = np.full((3, 2), 2)

print(a)
print(b)

np.matmul(a, b)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]

array([[6., 6.],
       [6., 6.]])

In [557]:
c = np.identity(3)
c

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [558]:
np.linalg.det(c) # Identity matrix has a determinant of 1

1.0

#### Statistics

In [560]:
stats = np.array([[1, 2, 3], [4, 5, 6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [561]:
stats.min()

1

In [562]:
stats.max()

6

In [566]:
stats

array([[1, 2, 3],
       [4, 5, 6]])

#### Min and max according to vertical or horizontal axis represented by 0 or 1

In [564]:
stats.min(axis=0) # so basically among [1, 2, 3] and [4, 5, 6] the former is minimum

array([1, 2, 3])

In [565]:
stats.max(axis=1)

array([3, 6])

#### Reorganising arrays

#### Reshaping arrays.....
Arrays can be re-shaped based on the number of elements it contains.

In [574]:
before = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(before.shape)

after = before.reshape(4,2)
print(after)

(2, 4)
[[1 2]
 [3 4]
 [5 6]
 [7 8]]

#### Stacking arrays vertically

In [576]:
v1 = np.array([1, 2, 3, 4])
v2 = np.array([5, 6, 7, 8])

np.vstack([v1, v2, v1, v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

#### Stacking arrays horizontally

In [577]:
h1 = np.array([2, 3, 4, 3])
h2 = np.array([43, 35, 234, 33])

np.hstack([h1, h2, h2, h1, h1, h1])

array([  2,   3,   4,   3,  43,  35, 234,  33,  43,  35, 234,  33,   2,
         3,   4,   3,   2,   3,   4,   3,   2,   3,   4,   3])

### Miscellaneous
##### Load Data from file

In [579]:
data = np.genfromtxt('random_integers.txt', delimiter=' ')
data = data.astype('int32')
print(data)

[2605 2694 4970 3362 1878 9722 8219 4413 6959 3199 7015 9073  661 6881
 9460 8000 2361 6221 1286 9075 6742 7230  903 3209 6854  867 3550 8146
  548 2848 3298 9093 5727 1921 5747 5795 3764 3227 9076 8071 9612 3966
 8031 5172 8504 6078 1371 1449 4615 9296 3710 9435  474 2269 1513 4453
 6310 9906  593 6281 7970 7063 1322 3644 7689 6232 1749 8935 5016 5233
 7408 1155 4649 7750 5928 9623  238 6880 2058 9200 9928 2143 9503 4841
 8699 1178 2259 6973 4122 7623 3047 3489 6983 1410 5051 7617 8492 7610
 6179 5916 8805 1820 9308 8052 6485 4161 9748 8667 5295 2730 2483   41
 2136 5811 7527 5933  987  411 1298 1783 2122 9568 9853 5598 6002 2637
 9925 9030 1940 7611 3259 9453 8000 8665 4461 4558 5560 3657 5365 2064
 9129   26 3776 1225 2783 8585 6980 5117 9276 2266 1924 8892 8444 5598
 7710 5577 8237 9734  123 9129 4762 8092  690 8677 9815 6029 3422 1388
 9272 5962 9066 1059 6266 8332 3629 7749 9264 6383 7741 9599 7513 2578
 5846 3791 5413 9971  126 5952 1195 1236 7228 1998  578 5114 4432 3697
 7736  191 1120  590  243 2934 7015 3696 2713 7660 5368 6022 6995 4196
 4638 8139  393 3357 9900 1905 9676 4381 6422 1589 4258 6329 2685 9487
 4165 4150 2988 7539 4863 3936 4438 8298 4164 3491 1094 4516 5266 8423
 3722 4585 4567 6150 3482 5018 2786  491 6425 8088 4814 8943  582 9588
 6786  642 5522 4575 5842 5924 5854 3761 3767 9105  372 2007 4239 1898
 6014 2803 3290 8844 9138 4624 9025 8814 7716 7356 5967 3356 1404 6636
  716 7665 9902  751 3307 6304   86 1366  218 1493 1097 4760 5253 9405
 1618 7415  559 9111 8615 6866 7814 2557 7944 7432 7457 5325 3934 3985
 8592 8409 5603 6510 2209 7856 4808 8313 1390 7766 8747  927 8755  451
 9996 9171 8879 7279 6840 7969 8968 9586 1480 1346 8843 9282 8041 6727
 6820 1420 2059 3204 5828 2209 9014  160 1160 3730 5671 9234 4866 6378
 2233 8411 7799 3350  826  813 3224 7329 2317 2434 7265 8124  947 3367
 8479 7933 3992 5674 9493 8405 2820 3146 6130 8194 1676 7679 7800  582
 3253  785 3192  148 3346 6115 7841 2219 8795 7495 6002 6152 9361 4370
 1879 6632 6715  735 2099 7743 7539 8718 1097  794 3512  123 8363 4690
 3560 5359 9193  667 9991 9580 7155 3928 9872 5328 3324 8601 5867 3140
 7128 2791 9880 7831 5095 8076 7300 9912 7433  313 7707 9513 1640 2917
 6576 2663 3732 4266 2663 6730 1789 9115 4543  136 9189 8612 1470 3534
 1275 9896 6553 4466 7600 1197 8578 2988 8704 1261  793 7030 4229 8844
 5261  438 4688 7436 8030 3165 6827 1390 8457 9256 4361 9027 5152 4954
 5860 4890 3628 7310 9663 2409 7451 5217 4390 7875  425 7601 9800 6720
 3980 2719 8809 1798 2145 5836 6989 2874 4613 9847  468 2469 2092 1732
 5967 2907 2048 3853 5632 4940 9225 1520 8034  735 3428 1854 8595 6871
 4020 2756 2692 9109 9480 3463 2253 7340 7972 1729 5398 4519 3478 2654
 3242 3915 7806 2380 4167 3584 4384 5455 5815 7922 3100 8066 3264 3661
 6396 8965 6160 8898 2648 6041 8068 4863 4202 1745 8864  896 2548 7458
  686 4758 8805 1457 3920 8288 9369 5323 2918 2336 1893 9749 3072 9053
 2128 6473  594 5775 7996 1807 5171 3314 3119 7097 8484 3081  748 2068
 5340 9684 6219 3382 8205  682 2600    4 2943 3849 9429 6836   92 1381
 9178 3797 2401  119  188 6296 4198 7076 7378 7059 5644 1391 8884 4901
 9939 5583 6486 2169  398 4678 7519 6522 6340 9478 8901 5795 4335 4233
  414 2179 2939 2516 3147 3661 6534 5868 7784 4771 8161 6612  435 7708
 8767 5789 7276 2172 1031 9848 6828 8752 8437 6324 4495 2142 2861 3618
 2664  398 7703 3116 1601 2381 1320 7443 5075 2832 7784 7120 6477 4905
 1239 2507 3540 7818 3255 8774 5985 6318  919 9071 9500 7621 5462 3867
 5286 4765 2116 7660 5262 1299 8666 9171 1828 6492 8110 8944 9020 7081
 5761 6083 2318 6477 9917  478 8993 5274 2413 1762 1230  138 7290 9474
 1792 3360 4371 3888 8081 8485 6581 9518 7829 3769 6514 1953 5158 2362
 1592 7208 2896 7268 1329 4771 9715 5780 1717 1593 7819 4340 6459 1278
 1572 8732 4413 1737 7558 8917  901 6193 8371 1168 5916 2237 9878  533
 1639 5975 8013 8066  397 4012 5644  545 7127 9542 2463 2876 6773 6154
 6638  890 8180 3496 3318 1448 5802 1516 9522 1896 4012 5453 4928 2986
 6556 1193 8568 9675 9064  408  743 1722 2595 1889 9079 6934 4621 2278
 8422 3547 5843 1228 4347 5916 2164 3993 3345    2 5413 7002 5176  967
 7217 5827  378 6274 9178 9123 2396 9960 2871 5901 1598 4649 7495 2189
 4361  884 9028 5292 6103 6747 1312 3721 7576 2347 6533 7910 1001  700
 4741  331 5447 7039 9547 4362 3868 6133 3580 2994  716 6501 3156 4518
 9239 3233 9329 2751 5334 1995 2252 9440 6034 9542 7259 8318 2822 3548
 7182 6295 2412 7511  736 3670 6632 8747 3855 5644 9462 4442 5670 1495
  524 2225 9610 1479 6189 5951 9573 8223 2823 3555 3188 1436 5401 6010
 3588 5178 6070 6495 9878 5188  250 6660 8649  798 3252 3297 8501 2675
 1328 9099 4622 8299 8216  907 6817 2183  152 3940 1808 7583 2980  568
 6817 1197 3288 4417 6091 7963 6571 5476 8248  810 2016  699 8562 1022
 9424 1176 7487 4618 4563 7881 2558 7281 4729 9326 9606 9668 7907 5948
 5711 1821 6616 2477 6255 1826 9308  977 1733 3337 7820 4787 6129 5444
 9949 6110 4454 3637   40 8461 9469 7859 6067 3083 6635  975 8875 7518
  880 8218 6272 1902 4175 3154 9374 9723 3980 7841 1496 9137  244 2248
 4356 9861  162 3482 3358 7485]

In [587]:
data[data > 4593]

array([4970, 9722, 8219, 6959, 7015, 9073, 6881, 9460, 8000, 6221, 9075,
       6742, 7230, 6854, 8146, 9093, 5727, 5747, 5795, 9076, 8071, 9612,
       8031, 5172, 8504, 6078, 4615, 9296, 9435, 6310, 9906, 6281, 7970,
       7063, 7689, 6232, 8935, 5016, 5233, 7408, 4649, 7750, 5928, 9623,
       6880, 9200, 9928, 9503, 4841, 8699, 6973, 7623, 6983, 5051, 7617,
       8492, 7610, 6179, 5916, 8805, 9308, 8052, 6485, 9748, 8667, 5295,
       5811, 7527, 5933, 9568, 9853, 5598, 6002, 9925, 9030, 7611, 9453,
       8000, 8665, 5560, 5365, 9129, 8585, 6980, 5117, 9276, 8892, 8444,
       5598, 7710, 5577, 8237, 9734, 9129, 4762, 8092, 8677, 9815, 6029,
       9272, 5962, 9066, 6266, 8332, 7749, 9264, 6383, 7741, 9599, 7513,
       5846, 5413, 9971, 5952, 7228, 5114, 7736, 7015, 7660, 5368, 6022,
       6995, 4638, 8139, 9900, 9676, 6422, 6329, 9487, 7539, 4863, 8298,
       5266, 8423, 6150, 5018, 6425, 8088, 4814, 8943, 9588, 6786, 5522,
       5842, 5924, 5854, 9105, 6014, 8844, 9138, 4624, 9025, 8814, 7716,
       7356, 5967, 6636, 7665, 9902, 6304, 4760, 5253, 9405, 7415, 9111,
       8615, 6866, 7814, 7944, 7432, 7457, 5325, 8592, 8409, 5603, 6510,
       7856, 4808, 8313, 7766, 8747, 8755, 9996, 9171, 8879, 7279, 6840,
       7969, 8968, 9586, 8843, 9282, 8041, 6727, 6820, 5828, 9014, 5671,
       9234, 4866, 6378, 8411, 7799, 7329, 7265, 8124, 8479, 7933, 5674,
       9493, 8405, 6130, 8194, 7679, 7800, 6115, 7841, 8795, 7495, 6002,
       6152, 9361, 6632, 6715, 7743, 7539, 8718, 8363, 4690, 5359, 9193,
       9991, 9580, 7155, 9872, 5328, 8601, 5867, 7128, 9880, 7831, 5095,
       8076, 7300, 9912, 7433, 7707, 9513, 6576, 6730, 9115, 9189, 8612,
       9896, 6553, 7600, 8578, 8704, 7030, 8844, 5261, 4688, 7436, 8030,
       6827, 8457, 9256, 9027, 5152, 4954, 5860, 4890, 7310, 9663, 7451,
       5217, 7875, 7601, 9800, 6720, 8809, 5836, 6989, 4613, 9847, 5967,
       5632, 4940, 9225, 8034, 8595, 6871, 9109, 9480, 7340, 7972, 5398,
       7806, 5455, 5815, 7922, 8066, 6396, 8965, 6160, 8898, 6041, 8068,
       4863, 8864, 7458, 4758, 8805, 8288, 9369, 5323, 9749, 9053, 6473,
       5775, 7996, 5171, 7097, 8484, 5340, 9684, 6219, 8205, 9429, 6836,
       9178, 6296, 7076, 7378, 7059, 5644, 8884, 4901, 9939, 5583, 6486,
       4678, 7519, 6522, 6340, 9478, 8901, 5795, 6534, 5868, 7784, 4771,
       8161, 6612, 7708, 8767, 5789, 7276, 9848, 6828, 8752, 8437, 6324,
       7703, 7443, 5075, 7784, 7120, 6477, 4905, 7818, 8774, 5985, 6318,
       9071, 9500, 7621, 5462, 5286, 4765, 7660, 5262, 8666, 9171, 6492,
       8110, 8944, 9020, 7081, 5761, 6083, 6477, 9917, 8993, 5274, 7290,
       9474, 8081, 8485, 6581, 9518, 7829, 6514, 5158, 7208, 7268, 4771,
       9715, 5780, 7819, 6459, 8732, 7558, 8917, 6193, 8371, 5916, 9878,
       5975, 8013, 8066, 5644, 7127, 9542, 6773, 6154, 6638, 8180, 5802,
       9522, 5453, 4928, 6556, 8568, 9675, 9064, 9079, 6934, 4621, 8422,
       5843, 5916, 5413, 7002, 5176, 7217, 5827, 6274, 9178, 9123, 9960,
       5901, 4649, 7495, 9028, 5292, 6103, 6747, 7576, 6533, 7910, 4741,
       5447, 7039, 9547, 6133, 6501, 9239, 9329, 5334, 9440, 6034, 9542,
       7259, 8318, 7182, 6295, 7511, 6632, 8747, 5644, 9462, 5670, 9610,
       6189, 5951, 9573, 8223, 5401, 6010, 5178, 6070, 6495, 9878, 5188,
       6660, 8649, 8501, 9099, 4622, 8299, 8216, 6817, 7583, 6817, 6091,
       7963, 6571, 5476, 8248, 8562, 9424, 7487, 4618, 7881, 7281, 4729,
       9326, 9606, 9668, 7907, 5948, 5711, 6616, 6255, 9308, 7820, 4787,
       6129, 5444, 9949, 6110, 8461, 9469, 7859, 6067, 6635, 8875, 7518,
       8218, 6272, 9374, 9723, 7841, 9137, 9861, 7485], dtype=int32)

In [589]:
np.any(data > 4593, axis=0)

True

In [592]:
data[((data > 4593) & (data < 5000))]

array([4970, 4615, 4649, 4841, 4762, 4638, 4863, 4814, 4624, 4760, 4808,
       4866, 4690, 4688, 4954, 4890, 4613, 4940, 4863, 4758, 4901, 4678,
       4771, 4905, 4765, 4771, 4928, 4621, 4649, 4741, 4622, 4618, 4729,
       4787], dtype=int32)

![Alt text](./get_the_rows_and_columns.png)

# How to get values from upper image
array[2:4, 0:2]
array[0:4, 1:-1]
array[[0, 4, 5], 3:]